@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Ubuntu+Mono:wght@400;700&family=Work+Sans:wght@300;400;500&display=swap');

/*-- scss:defaults --*/
$primary: #0BA3A5;
$navbar-bg: #42454D;
$navbar-fg: #0BA3A5;
